* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(62, 87, 126);
  color: white;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: rgb(14, 51, 82);
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.1);
  
}
.movie img {
  max-width: 100%;
}
.movie-info{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}
.movie-info h3{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

}


.movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.search-bar{
  display: flex;
  justify-content: space-between;
  padding: 2rem 5.5rem;
}
.search-bar h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button{
  margin: 0 .5rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(9, 73, 52);
  color: white;
}
.search{
  background-color:rgb(9, 25, 53) ;
  border: none;
  border-radius: 5px;
  padding: 5px ;
  color: white;
}
.movie-overview{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    transform: translateY(100%);
    transition: 0.4s ease-in-out;
    max-height: 100%;
    line-height: 1.3rem;
}
.movie:hover .movie-overview{
    transform: translateY(0);
}

.movie-overview h3{
  text-align: center;
  padding: 1rem 0;
}
.tag{
  background-color: rgb(9, 25, 53);
  padding: 3px;
}
.tag.green{
  color: rgb(6, 199, 6);
}
.tag.red{
  color: red;
}
.tag.yellow{
  color: yellow;
}
.tag.orange{
  color: orange;
}